// fonts
html, body, h1, h2, p, a, li,
	font-family: Arial
	
img
	max-width: 100%

body
	background: black

	
main
	center(1400px)
	margin-top: 1rem
	text-align: center
	header 
		img
			max-width: 100%
			// max-height: 20vh
	.mainpic
		img	
			max-height: 60vh
			max-width: 100%
	.content
		img 
			max-width: 100%
		color: white
		margin: auto
		// mobile
		max-width: 100%
		padding: 0 1rem
		@media(min-width: 35rem)
			padding: 0
			max-width: 60%
		@media(min-width: 1000px)
			max-width: 30%	
		ul 
			padding: 0
			list-style: none
			margin-top: 0
		h2
			border-top: solid white .2rem
			&.borderButt
				border-bottom: solid white .2rem
			text-transform: uppercase
			text-align: center
			margin: 0
			&:hover
				background: white
				color: black
				a 
					color: black
			&.trenner
				border: none
				&:hover
					background: none
					color: white
					a 
						color: white
		h3
			&:hover
				background: white
				color: black
				a 
					color: black
			

		#mc_embed_signup form
			padding: 0
			margin: 0
			
			.asterisk
				color: black
			.mc-field-group
				margin: 0	
				width: 100%
			.indicates-required
				.asterisk
					color: white
a 
	text-decoration: none
	color: white
	&:hover
		color: black
		p.inhalt
			color: white
			
footer
	@media(max-width: 35rem)
		col(1/2)
	@media(min-width: 35rem)
		col(1/4)
	@media(min-width: 1600px)
		col(1/6)
/*
 **********************
* Specifics
 **********************
*/

// noHover			
main 
	.content 
		h2.noHov
			&:hover
				background: black
				color: white
				a 
					color: black

// Test Days
section#testdays
	background: yellow
	padding: 0 .5rem
	article
		text-align: left
	h2
		a 
			color: black
		background: none
		border-top: solid yellow .2rem
		border-bottom: solid yellow .2rem
		&:hover 
			background: none
			a 
				color: black
		&.active
				border-bottom: solid black .2rem
	h4
		color: black
		font-size: 1.5rem
		margin: .5rem 0 0

	p 
		color: black
		margin-top: 0
		a 
			color: black
			text-decoration: underline
			&:hover
				color: black
				font-weight: bold
				
	hr 
		border-top: solid black .2rem
